// compileExpanded: $1.css
$accent: #DAD8A7;
$lightAccent: lighten(#DAD8A7, 20%);
$darkAccent: darken(#DAD8A7, 60%);

html {
  background-color: $lightAccent;
}

h1 {
  font-family: sans-serif;
  color: $darkAccent;
  &.loading {
    color: $accent;
  }
}

.container {
  margin-top: 20px;
  text-align: center;
}

// *************SVG Styles*****************
.plot text {
  font-family: sans-serif;
  font-size: 14px;
  fill: $darkAccent;
  text-anchor: middle;
  &.plot-title {
    font-size: 18px;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: $darkAccent;
  shape-rendering: crispEdges;
}

.dot {
  stroke: $accent;
}
