// compileExpanded: $1.css
$accent: #DAD8A7;
$lightAccent: lighten(#DAD8A7, 20%);
$darkAccent: darken(#DAD8A7, 60%);

html {
  background-color: $lightAccent;
}

h1 {
  font-family: sans-serif;
  color: $darkAccent;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  &.loading {
    color: $accent;
  }
}

.container {
  margin-top: 20px;
  text-align: center;
}

.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  color: $darkAccent;
  background-color: rgba($accent, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
}

// *************SVG Styles*****************
.plot text {
  font-family: sans-serif;
  font-size: 14px;
  fill: $darkAccent;
  text-anchor: middle;
  &.plot-title {
    font-size: 18px;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: $darkAccent;
  shape-rendering: crispEdges;
}

.dot {
  stroke: $accent;
}

.doping {
  fill: #FF3D7F;
}

.not-doping {
  fill: #3FB8AF;
}
